/*<the navigation bar design>*/
body {
  margin: 0;
  font-family: Verdana, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #006666;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #66B2B2;
  color: white;
}

/*<card>*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

/*hotels- head center*/
.head_hotels_css {
    text-align:center;
}

/*home page bg colors*/
article {
  font-family: Playfair Display Bold;
  font-size: 25px;
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #b2d8d8 ;
  height: 80px; 
}

.about_css {
  font-size: 20px;
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #66b2b2;
  height: 150px; 
}

.weather_css {
  font-size: 20px;
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #3a9191;
  height: 150px; 
}

.tra_css {
  font-size: 20px;
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #008080;
  height: 150px; 
}

.buildings_css {
  font-size: 20px;
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #027373;
  height: 150px; 
}

.comments_css_head {
  font-family: Georgia, serif;
  font-size: 20px;
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #b2d8d8;
  height: 65px; 
}
