<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>Hotels</title>
	<!--top navigation bar: hotels, restaurants, places to visit, history of DC-->
	<div class="topnav">
		<a href="/">Home</a>
		<a href="/places-to-visit">Places to visit</a>
		<a href="/restaurants">Resaurants</a>
		<a href="/hotels">Hotels</a>
		<a href="/add-comment">Add comments</a>
	</div>
</head>

<body>
	<article class="comments_css_head">
		<h1>Comments</h1>
	</article>
	{% for i in comments %}
<!-- 	<h2> {{comments[i]['Title']}} </h2>-->	
	<h2> {{comments[i]['Text']}} </h2>
	{% endfor %}
</body>
</html>