<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>Restaurnts</title>
	<!--top navigation bar: hotels, restaurants, places to visit, history of DC-->
	<div class="topnav">
		<a class="active" href="#home">Home</a>
		<a href="#news">Places to visit</a>
		<a href="#contact">Resaurants</a>
		<a href="#about">Hotels</a>
		<a href="#add_comments">Add comments</a>
	</div>
</head>

<body>
	<div>
		<h2>Sfoglina Van Ness</h2>
		<h3>Italian restaurant, very good!!! a bit expensive, average price: $24</h3>
		<p>Address: 4445 Connecticut Ave NW, Washington, DC 20008, United States </p>
		<p><a href="https://sfoglinapasta.com/vanness">
		<img src="https://images.squarespace-cdn.com/content/v1/5d8ffa1728b14b17ddf22f82/1571016657149-LA1PINN8GP1KTRY901JX/Sfoglina+Pasta+Dishes.jpg?format=1000w" width="200" height="300">
		</a></p>
	</div>

</body>
</html>