<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>Restaurnts</title>
	<!--top navigation bar: hotels, restaurants, places to visit, history of DC-->
	<div class="topnav">
		<a href="/">Home</a>
		<a href="/places-to-visit">Places to visit</a>
		<a href="/restaurants">Resaurants</a>
		<a href="/hotels">Hotels</a>
		<a href="/add-comment">Add comments</a>
	</div>
</head>

<body>
	<div class="card">
		<h2>Sfoglina Van Ness</h2>
		<h3>Italian restaurant, very good!!! a bit expensive, average price: $24</h3>
		<p>Address: 4445 Connecticut Ave NW, Washington, DC 20008, United States </p>
		<p><a href="https://sfoglinapasta.com/vanness">
		<img src="https://images.squarespace-cdn.com/content/v1/5d8ffa1728b14b17ddf22f82/1571016657149-LA1PINN8GP1KTRY901JX/Sfoglina+Pasta+Dishes.jpg?format=1000w" width="400" height="300">
		</a></p>
		<p>press on the image to get to the menu</p>

	</div>

	<div class="card">
		<h2>Georgetown Cupcake</h2>
		<h3>Yummy cupcakes, different flavors and toppings!! $3.75 for one cupcake</h3>
		<p>Address: 3301 M St NW, Washington, DC 20007, United States </p>
		<p><a href="https://www.georgetowncupcake.com/Default.aspx">
		<img src="https://i.pinimg.com/originals/46/b9/46/46b946ba8a60287b07771a75cf451789.jpg" width="400" height="300">
		</a></p>
		<p>press on the image to get to the menu</p>
	</div>

	<div class="card">
		<h2>Bread Furst</h2>
		<h3>Bakery offering bread, pastries, cakes & coffee, along with light cafe. Great dounuts! average price: $9</h3>
		<p>Address: 4434 Connecticut Ave NW, Washington, DC 20008, United States </p>
		<p><a href="https://breadfurst.com/">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRuXPLQAj0DJWGZAWS3jPlHBGA5F0sncXmwoB0Y7yA-A-Ns8xNzds8oy92-Q_iXvfOnZs&usqp=CAU" width="400" height="300">
		</a></p>
		<p>press on the image to get to the menu</p>

	</div>

	<div class="card">
		<h2>Levain Bakery - Georgetown</h2>
		<h3>Cookies, bread & sweet treats are served with coffee & tea. Sooo good! $8 per one cookie, worth the money!!</h3>
		<p>Address: 3131 M St NW, Washington, DC 20007, United States</p>
		<p><a href="https://levainbakery.com/">
		<img src="https://cdn.accentuate.io/79792799825/11187274678353/IMG_414222-v1626123594265.jpg?2166x1493" width="400" height="300">
		</a></p>
		<p>press on the image to get to the menu</p>

	</div>

	<div class="card">
		<h2>Tatte Bakery & Cafe</h2>
		<h3>Contemporary bakery & cafe with a patio, offering pastries, breakfasts, sandwiches & hot meals.</h3>
		<p>Address: 1200 New Hampshire Ave NW, Washington, DC 20036, United States</p>
		<p><a href="https://tattebakery.com/washington-dc/">
		<img src="https://media.bizj.us/view/img/11621318/c0a2725*1200xx3600-2025-0-188.jpg" width="400" height="300">
		</a></p>
		<p>press on the image to get to the menu</p>

	</div>

	<div class="card">
		<h2>Call Your Mother – Park View</h2>
		<h3>Bagel shop and deli. Signature bagels are the center of it all, along with creative bagel sandwiches and “Jew-ish” deli favorites. Great bagels, uniqe and very tasty!</h3>
		<p>Address: 3301 Georgia Ave NW, Washington, DC 20010, United States</p>
		<p><a href="https://www.callyourmotherdeli.com/">
		<img src="https://cdn.vox-cdn.com/thumbor/433LrZ1b7rQku_JygVyjdrSHZ1c=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/20664621/CYMGeorgetown3_KaylaWallaceforCYM.jpg" width="400" height="300">
		</a></p>
		<p>press on the image to get to the menu</p>

	</div>

	<div class="card">
		<h2>2 Amys</h2>
		<h3>Bustling wood-oven pizzeria serves innovative Neapolitan-style pies & Italian wine by the glass.</h3>
		<p>Address: 3715 Macomb St NW, Washington, DC 20016, United States</p>
		<p><a href="https://2amyspizza.com/">
		<img src="https://images.squarespace-cdn.com/content/v1/54ee02c4e4b0d577cb6eaa46/1439390110848-GKRTR38SLSAT6Q8GZ9DR/IMG_9935.JPG?format=1500w" width="400" height="300">
		</a></p>
		<p>press on the image to get to the menu</p>

	</div>
</body>
</html>