<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>Signup</title>
	<!--top navigation bar: hotels, restaurants, places to visit, history of DC-->
	<div class="topnav">
		<a href="/">Home</a>
		<a href="/places-to-visit">Places to visit</a>
		<a href="/restaurants">Resaurants</a>
		<a href="/hotels">Hotels</a>
		<a href="/add-comment">Add comments</a>
	</div>
</head>

<body>
	<form method="post" action="/signup">
        <!-- Heading -->
        <h4>
            Create an account
        </h4>

        <!-- Subheading -->
        <p >Please fill up your information below to sign up.</p>

        <!-- Email -->
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>

        <!--full name-->
        <div>
            <label>Full name*</label>
            <div>
                <input type="full_name"  name="full_name" id="emailStr" required>
            </div>
        </div>

        <!--username-->
        <div>
            <label>Username*</label>
            <div>
                <input type="username"  name="username" id="emailStr" required>
            </div>
        </div>

        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>

</body>
</html>